.loading-error {
  font-family: "Nunito Sans", sans-serif;
  height: calc(100vh - 73px);
  color: var(--text);
  text-align: center;
}

.loading-error h1 {
  font-size: 42px;
  color: var(--input);
}

.loading-error p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.loading-error .reload-button {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  width: 110px;
  background-color: var(--element);
  padding: 9px;
  margin-bottom: 10px;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .loading-error {
    height: calc(100vh - 88px);
  }
}
