.header {
  padding: 26px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text);
  background-color: var(--element);
  z-index: 10;
}
.header > .header-title {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 26px 76px;
  }
  .header > .header-title {
    font-size: 24px;
  }
}
